<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/price-range.css">
  <link rel="stylesheet" href="/stylesheets/navbar-and-filters.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/30076e29b6.js" crossorigin="anonymous"></script>
</head>
{{> navbar}}

<body>
  <div class="body" style="position: absolute; top: 8vh; margin-top: 1rem;">
    {{{body}}}
  </div>
</body>
<script src="/scripts/navbar-and-filters.js"></script>
<script src="/scripts/price-range.js"></script>
<script>
  $('.icon').click(function () {
    $('span').toggleClass("cancel");
  });
</script>


</html>