<div class="add-form">
    <h1>Add Category</h1>
    <form action="/management/category" method="POST">
        <div class="form-group">
            <label for="name">Category's Name</label>
            <input required type="text" name="name" id="name" class="form-control">
        </div>
        <button type="submit" class="primary-btn">Add Category</button>
    </form>
</div>