<div class="add-form">
    <h1>Add Size</h1>
    <form action="/management//size" method="POST">
        <div class="form-group">
            <label for="name">Size</label>
            <input required type="text" name="name" id="name" class="form-control">
        </div>
        <button type="submit" class="primary-btn">Add size</button>
    </form>
</div>