<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
<link rel='stylesheet' href='/stylesheets/ckeditor.css' type="text/css" />
<script src="https://kit.fontawesome.com/4178e1752f.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">
<div class="add-form">
    <h1>Add Item</h1>
    <form action="/management/item" method="POST" enctype="multipart/form-data">
        {{> item_form}}
    </form>
</div>